body
{
    background-color: rgb(235, 196, 255);
}
#h1
{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal ;
    font-weight: 400;
}
#h4
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;  
}
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#img1
{
    border-color: black;
    padding: 40%;
}
#img2
{
    border-color: black;
}
#img3
{
    border-color: black;
}
img1:hover
{
    border-radius: 140px;
}
img2:hover
{
    border-radius: 140px;
}
img3:hover
{
    border-radius: 140px;
}
.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100;
    text-align: center;
}